<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="shortcut icon" type="image/x-icon" href="img/head.ico" media="screen" />
<title>birthday</title>
<meta name="author" content="DeathGhost" />
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" type="text/css" href="css/style.css" tppabs="css/style.css" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="js/jquery.js"></script>
<script src="js/verificationNumbers.js" tppabs="js/verificationNumbers.js"></script>
<script src="js/Particleground.js" tppabs="js/Particleground.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //验证码
  createCode();
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  location.href="regist.html"/*tpa=http://***index.html*/;
	  });
});
</script>
</head>
<body>
<dl class="admin_login">
 <dt>
  <strong>生日管理系统</strong>
  <em>birthday</em>
 </dt>
 <form action="../cont/dealpost.class.php" method="post">
 <dd class="user_icon">
  <input type="email" placeholder="邮箱地址" class="login_txtbx" name="login_email"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="密码" class="login_txtbx" name="login_pwd"/>
 </dd>
 <dd class="val_icon">
  <div class="checkcode">
    <input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx">
    <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
  </div>
  <input type="button" value="验证码核验" class="ver_btn" onClick="validate();">
 </dd>
 <dd>
  <input type="submit" value="立即登陆" class="submit_btn" name="login"/>
 
 </dd>
 </form>
 <dd>
  <input type="button" value="前往注册" class="submit_btn"/>
  </dd>
 <dd>
<p>powered &nbsp; by &nbsp;<a href="http://www.wsqer.cn" target="_blank">wsqer</a></p>

 </dd>
 <dt>
 <a href="#">找回密码</a>
 </dt>
</dl>
</body>
</html>
